@model IEnumerable<PlaylistViewModel>
@using Microsoft.AspNetCore.Identity
@using Spotidie.DAL.EF

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "Home Page";
    int count1 = 0;
    int count2 = 0;
    int count3 = 0;
}

<style>
a,a:hover,a:click, a:visited{
  border:none;
  outline:none;
  text-decoration:none;
  color:inherit;
  -webkit-tap-highlight-color: white;
}
</style>

<div class="user-nav">
    <section class="category" style="flex-direction: revert">
        <div class="user container-center" style="padding-bottom: 30px">
            <p class="subsc">Больше возможностей с подпиской!</p>
            <a href="#popup_subsc" class="subsc_btn">ПОДРОБНЕЕ</a>
            <div id="popup_subsc">
                <a href="#" class="close">x</a>
                <p class="subsc-first">
                    Получите доступ ко всему контенту <br>
                    с подпиской Premium!
                </p>
                <p class="subsc-last">
                    Укажите адресс электронной <br>
                    почты для оформления подписки
                </p>
                <form class="subsc-pup-form" action="">
                    <input class="e-mail-subsc" type="email" placeholder="E-mail">
                    <button class="e-mail-subsc-btn" type="submit">
                        <p class="send-subsc">Отправить</p>
                    </button>
                </form>
            </div>
        </div>
        <div class="header">
            <h1 class="title">
                Плейлисты
            </h1>
            @* <span class="see-all"> *@
            @*     ВСЕ *@
            @* </span> *@
        </div>
        <div class="albums">
            <ul class="albums-list">
                @foreach (var item in Model)
                {
                    count1++;
                    if (count1 == 5) break;
                    <li class="list-item">
                        <img src="@Html.DisplayFor(modelItem => item.PlaylistAvatar)" alt="album" class="album-image">
                        <div class="album-infos">
                            <span class="album-title">
                                <a style="" asp-controller="PlaylistView" asp-action="PlaylistView" asp-route-id="@item.PlaylistId">
                                    @Html.DisplayFor(modelItem => item.PlaylistName)    
                                </a>
                            </span>
                            @* <p class="album-creator">"@Html.DisplayFor(modelItem => item)</p> *@
                        </div>
                    </li>
                }
            </ul>
        </div>
        <div class="albums">
            <ul class="albums-list">
                @foreach (var item in Model)
                {
                    count2++;
                    if (count2 == 5) break;
                    <li class="list-item">
                        <img src="@Html.DisplayFor(modelItem => item.PlaylistAvatar)" alt="album" class="album-image">
                        <div class="album-infos">
                            <span class="album-title">@Html.DisplayFor(modelItem => item.PlaylistName)</span>
                            @* <p class="album-creator">"@Html.DisplayFor(modelItem => item)</p> *@
                        </div>
                    </li>
                }
            </ul>
        </div>
        <div class="albums">
            <ul class="albums-list">
                @foreach (var item in Model)
                {
                    count3++;
                    if (count3 == 5) break;
                    <li class="list-item">
                        <img src="@Html.DisplayFor(modelItem => item.PlaylistAvatar)" alt="album" class="album-image">
                        <div class="album-infos">
                            <span class="album-title">@Html.DisplayFor(modelItem => item.PlaylistName)</span>
                            @* <p class="album-creator">"@Html.DisplayFor(modelItem => item)</p> *@
                        </div>
                    </li>
                }
            </ul>
        </div>
    </section>
</div>