@model IEnumerable<PlaylistViewModel>
@using Microsoft.AspNetCore.Identity
@using Spotidie.DAL.EF

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "Home Page";
}

<div class="user-nav">
            <div class="head">
                <div class="head-nav">
                    <div class="navigation-arrows">
                        <svg viewBox="0 0 24 24" class="_6be6d9f3103325b95e6d4c0f6b10b783-scss"><path fill="currentColor" d="M15.54 21.15L5.095 12.23 15.54 3.31l.65.76-9.555 8.16 9.555 8.16"></path></svg>
                        <svg viewBox="0 0 24 24" class="_6be6d9f3103325b95e6d4c0f6b10b783-scss"><path fill="currentColor" d="M7.96 21.15l-.65-.76 9.555-8.16L7.31 4.07l.65-.76 10.445 8.92"></path></svg>
                    </div>
                </div>
                @if (SignInManager.IsSignedIn(User))
                {
                    <li class="nav-item">
                        <a id="manage" class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @UserManager.GetUserName(User)!</a>
                    </li>
                    <li class="nav-item">
                        <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                            <button id="logout" type="submit" class="nav-link btn btn-link text-dark">Logout</button>
                        </form>
                    </li>
                }
                else
                {
                    <li class="nav-item">
                        <a class="nav-link text-dark" id="register" asp-area="Identity" asp-page="/Account/Register">Register</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
                    </li>
                }
            </div>
            <section class="category">
                <div class="header">
                    <h1 class="title">
                        Музыка для заботы о себе
                    </h1>
                    <span class="see-all">
                        ВСЕ
                    </span>
                </div>
                <div class="albuns">
                    <ul class="albuns-list">
                        <table class="table">
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.PlaylistName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.PlaylistAvatar)
                                </th>
                                <th></th>
                            </tr>
                         
                        @foreach (var item in Model) {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PlaylistName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PlaylistAvatar)
                                </td>
                            </tr>
                        }
                         
                        </table>
                        <li class="list-item">
                            <img src="./img/album1.jpg" alt="album" class="album-image">
                            <div class="albun-infos">
                                <span class="album-title">pop/punk 2000's</span>
                                <p class="album-creator">De bignay92</p>
                            </div>
                        </li>
                        <li class="list-item">
                            <img src="./img/album1.jpg" alt="album" class="album-image">
                            <div class="albun-infos">
                                <span class="album-title">Sepultura</span>
                                <p class="album-creator">De andreas kisser</p>
                            </div>
                        </li>
                        <li class="list-item">
                            <img src="./img/album1.jpg" alt="album" class="album-image">
                            <div class="albun-infos">
                                <span class="album-title">Iron Maiden</span>
                                <p class="album-creator">De bruce dickson</p>
                            </div>
                        </li>
                        <li class="list-item">
                            <img src="./img/album1.jpg" alt="album" class="album-image">
                            <div class="albun-infos">
                                <span class="album-title">Sepultura</span>
                                <p class="album-creator">De andreas kisser</p>
                            </div>
                        </li>
                        <li class="list-item">
                            <img src="./img/album1.jpg" alt="album" class="album-image">
                            <div class="albun-infos">
                                <span class="album-title">Sepultura</span>
                                <p class="album-creator">De andreas kisser</p>
                            </div>
                        </li>
                        <li class="list-item">
                            <img src="./img/album1.jpg" alt="album" class="album-image">
                            <div class="albun-infos">
                                <span class="album-title">Shaman</span>
                                <p class="album-creator">De ritual</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </section>
        </div>